# Virtual Environment
.venv/

# pycache
**/__pycache__/**

# vscode
.vscode/

# data
data/*
!data/data_review.ipynb

# saved
!saved/losses/
saved/losses/*
!saved/losses/temp.txt

!saved/weights/
saved/weights/*
!saved/weights/temp.txt